.container {
    margin: 80px auto;
    max-width: 90%;
    width: 600px;
    padding: 0 15px;
}

body {
    background-image: url("/src/images/flower6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    margin: 0;
} 

h1 {
   text-align: center;
   color: #e90582;
   font-family: "Playfair Display", serif;
   margin-bottom: 40px;
   margin-top: 100px;
}


.hint {
    color:gray;
    margin-top: 2px;
    text-align: center;
}

form {
    display: "flex";
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 9px;
}

.instructions {
   font-size: 15px;
   padding: 16px;
   border: 1px solid #C599B6;
   width: 60%;
   border-radius: 30px;
}




#submit {
    background-color: #e90582;
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 16px;
    cursor: pointer;
    width: 30%;
}

.verse {
    background-color: #fff;
    font-size: 16px;
    padding: 10px;
    line-height: 24px;
    border-left: 3px solid #e90582;
    margin: 30px auto;
    max-width: 90%;
    width: 600px;
}
 .verse p {
    font-size: 2.1em;
    margin: 0;
 }

.hidden {
    display: none;
 }

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

footer a {
    color: #e90582;
    text-decoration: none;
}

.generating{
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
  @-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }

}

@media (max-width: 768px) {
  .container, .verse {
    width: 100%;
    margin: 20px auto;
  }

  form {
    flex-direction: column;
    align-items: stretch;
  }

  #submit {
    width: 28%;
  }

  h1 {
    font-size: 1.8em;
    margin-top: 60px;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  form {
    padding: 15px;
  }

  #user-instructions {
    padding: 10px 14px;
    font-size: 14px;
  }

  #submit {
    padding: 12px;
    font-size: 14px;
    width: 25%;
  }

  .verse {
    font-size: 14px;
    padding: 15px;
  }

  .verse p {
    font-size: 1.6em;
  }

  footer {
    font-size: 12px;
  }
}
